.container {
  position: relative;
}
.card {
  position: relative;
  width: 360px;
  height: 640px;
  padding: 1px;
  border: 12px solid black;
  border-radius: 12px;
}

.input_container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  & label {
    margin-right: 8px;
  }
}

.selected_container {
  position: absolute;
  right: 0;
  margin-inline: 10rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  padding: 1rem;
  gap: 8px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      flex-direction: row;
      gap: 4px;
    }
  }
}

.keyboard {
  position: absolute;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2.5px;
  width: 98%;
  background-color: #005a78;
  overflow: auto;

  div {
    margin: 2px;
    padding: 2px;
    text-align: center;
    color: white;
    background-color: #0077a0;
    &.selected {
      background-color: #001e28;
      border: 1px solid white;
      border-radius: 4px;
    }
    button {
      all: unset;
    }
  }

  .keyboard__row {
    display: flex;
    flex-direction: row;
  }
}

.positioning_box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 30px;
  height: 30px;
  background-color: red;
}
